.headLeft {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.register,
.login,
.config,
.logout,
.nuevaNota {
  color: #000000 !important;
  font-size: 19px;
  padding: 10px 25px;
  border-radius: 10px;
  border: 2px solid #b1cef3;
}

a {
  text-decoration: none;
  color: black;
}

.user {
  display: flex;
  position: relative;
  right: 50%;
  border: solid 1px black;
  border-radius: 5px;
  padding: 1rem;
  background-color: grey;
  z-index: 2;
}
